<!--
<section id="contact-page">
  <div class="container">
    <p>
      contact works!
    </p>
  </div>
</section>
-->
<section id="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-md-6 to-animate">
					<h3 class="section-title">About</h3>
					<p>Designer and Developer Professional and Enthusiast with over 20 years experience in the Information Technology field and over 7 years specifically in the Mobile and Web development areas.</p>
					<!--
					<p class="copy-right">&copy; 2015 Legal Free Template. <br>All Rights Reserved. <br>
						Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
						Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>
					</p>
					-->
				</div>

				<div class="col-md-6 to-animate">
					<h3 class="section-title">Address</h3>
					<ul class="contact-info">
						<li><i class="icon-map-marker"></i>Greater Chicagoland Area</li>
						<li><i class="icon-phone"></i>Please use the email link below:</li>
						<li><i class="icon-envelope"></i><a href="mailto:jsworldwebstudio@gmail.com">jsworldwebstudio@gmail.com</a></li>
						<li><i class="icon-globe2"></i><a href="http://www.jsworldwebstudio.com">www.jsworldwebstudio.com</a></li>
					</ul>
					<!--
					<h3 class="section-title">Connect with Me</h3>
					<ul class="social-media">
						<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
						<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
					</ul>
					-->
				</div>
				<!--
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Drop a line</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message" disabled>
						</div>
					</form>
				</div>
				-->
			</div>
		</div>
	</section>
