<!--
  <footer id="footer-component">
  <div class="container">
    <p>
      footer-area works!
    </p>
  </div>
</footer>
-->
<footer id="footer-component">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <!--<a href="#" class="navbar-brand">FOOTER</a>-->
      <div class="row">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="facebook" title="JSWORLD on Facebook"><i class="icon-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" class="twitter" title="JSWORLD on Twitter"><i class="icon-twitter"></i></a></li>
          <!--<li class="list-inline-item"><a href="#" class="dribbble" title="JSWORLD on Dribble"><i class="icon-dribbble"></i></a></li>-->
          <li class="list-inline-item"><a href="#" class="github" title="JSWORLD on GitHub"><i class="icon-github-alt"></i></a></li>
        </ul>
        <small class="text-center">&copy; 2017 JSWORLD Web Development Studio</small>
      </div>
      <!--
      <div class="row">
        <small>&copy; 2017 JSWORLD Web Development Studio</small>
      </div>
    -->
    </div>
  </nav>
</footer>
<!--
<footer class="row">
  <div class="sociallinks">
    <ul class="menu">
      <li><a href="https://twitter.com/nullvariable" title="Doug on Twitter (@nullvariable)"><i aria-hidden="true" class="icon-twitter-1"></i></a></li>
      <li><a href="https://www.linkedin.com/in/dougcone" title="Doug on LinkedIn"><i aria-hidden="true" class="icon-linkedin-1"></i></a></li>
      <li><a href="http://www.last.fm/user/nullvariable" title="Doug on Last.fm"><i aria-hidden="true" class="icon-lastfm-squared"></i></a></li>
      <li><a href="https://www.facebook.com/dougcone" title="Doug on Facebook"><i aria-hidden="true" class="icon-facebook-official"></i></a></li>
      <li><a href="https://www.instagram.com/nullvariable" title="Doug on Instagram"><i aria-hidden="true" class="icon-instagram"></i></a></li>
    </ul>
    <ul class="social-media">
      <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
      <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
      <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
      <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
    </ul>
    <small>&copy; 2017 JSWORLD Web Development Studio</small>
  </div>
</footer>
-->
