<section id="fun-page">
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Use the Fun Page to Browse Movies</h1>
      <p>
        This page is included to provide a closer look into movies that may interest you and to show the versatility of applications that can be developed for you. Specifically, this pages communicates with an external movie database to show the information seen on this page and show information on movies you search for individually.
      </p>
      <!--<p><a href="#" class="btn btn-danger btn-lg">Learn More</a></p>-->
    </div>
    <app-movies></app-movies>
  </div>
</section>
