<!--
<section id="services-page">
  <div class="container">
    <p>
      services works!
    </p>
  </div>
</section>
-->
<section id="services-page" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center" @servicesHeadingAnim>
						<h2 class="to-animate">Services</h2>
						<div class="row">
							<div class="col-md-8 services-left-margin subtext">
								<h3 class="to-animate">Welcome to the website for JSWORLD Web Development Studio!  Below are some of the services that I offer.</h3>
								<span class="to-animate line-dash"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row" @servicesBodyAnim>
					<div class="col-md-4 column1">
						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post">
								<h3>Mobile Design</h3>
								<p class="short-text">Full design of mobile application using leading-edge software.</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post">
								<h3>Application Prototyping</h3>
								<p>A working high-level model will be created for your mobile application or website. This is used to reduce questions and increase your confidence with the finished product.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 column2">
						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post">
								<h3>Web Design</h3>
								<p>Full design of eCommerce, brochure or informational website using leading-edge software.</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post">
								<h3>Complete Application Development</h3>
								<p>Full Development of Logos, Mobile Apps and Websites using leading-edge software and application development frameworks (Sketch, Ionic v3 and Angular v2+ specifically). If you need existing maintenance or upgrades using other technologies, that can be discussed as well.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 column3">
						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post">
								<h3>Logo Design</h3>
								<p>Need a custom logo to distinguish your brand? This is done using a highly-rated graphics software application.</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post">
								<h3>Project Satisfaction</h3>
								<p>Your finished project will work as agreed upon and as you expect it to work. We’ll continue to work together through the project deployment phase.</p>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="call-to-action text-center to-animate"><a href="#" class="btn btn-learn">Learn More</a></div>-->
			</div>
		</div>
	</section>
